.fh5co-nav ul{
    margin: 0;
}
.fh5co-nav ul li{
    padding: 0;
    line-height: 40px;
    vertical-align: text-top;
}
.fh5co-nav ul li a{
    padding: 25px;
}
.fh5co-nav .top-menu{
    padding: 0px;
}
.fh5co-nav ul li.btn-cta a{
    padding: 18px 0!important;
}